body { 
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}
main {
    background-color: wheat;
    border: 3px solid black;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
main:hover { 
     background-color: rgb(238, 225, 201);

}
main > ul { 
    text-align: center;
    padding-bottom: 25px;
}
main > ul > li { 
    margin: 20px;
}
.odin-header {
    text-align: center;
    padding: 10px 0;
    font-size: 53px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.odin-header:hover { 
    text-shadow: rgb(169, 228, 238) 5px 5px 10px;
    color: #fff;
    font-size: 55px;
}

.odin-block-one { 
    display: inline-block;
}
main > ul > li > a  {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;    
}

main > ul > li > a > img {
    width: 250px;
    height: 250px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
main > ul > li > a > img:hover { 
    box-shadow: 12px 12px black;
}
.odin-block-two {
    display: inline-block;
}